<ng-container [ngSwitch]="currentPage">
  <section [ngClass]="{'subtitle': isSubPage}" class="bg">

    <div>
      <img src="/assets/img/header_sub.png" class="bg bg_others_1">
    </div>
    <div>
      <img src="/assets/img/header_sub.png" class="bg bg_others_2">
    </div>

    <div id="bg_main">
      <img src="/assets/img/header_3.png" id="bg_main_3" class="bg bg_intro">
      <img src="/assets/img/header_1.png" id="bg_main_1" class="bg bg_intro">
      <img src="/assets/img/header_2.png" id="bg_main_2" class="bg bg_intro">
      <img src="/assets/img/header_4.png" id="bg_main_4" class="bg bg_intro">
      <img src="/assets/img/header_5.png" id="bg_main_5" class="bg bg_intro">
      <img src="/assets/img/header_6.png" id="bg_main_6" class="bg bg_intro">
    </div>
  </section>

  <section class="intro home" *ngSwitchCase="'home'">
    <article>
      <img src="/assets/img/logo_bright.png" alt="로고">
      <div class="contents">
        <h1 lang="EN"> Sharing Service Solution </h1>
        <h2 lang="EN"> based on Artificial Intelligence </h2>
      </div>
    </article>
  </section>

  <section class="intro2 home" *ngSwitchCase="'home'">
    <article>
      <div class="contents">
        <h1>Share all the assets from We2lab.</h1>
        <h2 routerLink="/business" class="withLink">Our business solutions >></h2>
      </div>
    </article>
  </section>

  <section class="intro subtitle" *ngSwitchCase="'business'">
    <article>
      <div class="contents">
        <h1 lang="EN">Businesses</h1>
        <h2 lang="EN">based on Artificial Intelligence</h2>
      </div>
    </article>
  </section>

  <section class="intro subtitle" *ngSwitchCase="'products'">
    <article>
      <div class="contents">
        <h1 lang="EN">Products</h1>
        <h2 lang="EN">based on Artificial Intelligence</h2>
      </div>
    </article>
  </section>

  <section class="intro subtitle" *ngSwitchCase="'contact'">
    <article>
      <div class="contents">
        <h1 lang="EN">Contact Us</h1>
        <h2 lang="EN">based on Artificial Intelligence</h2>
      </div>
    </article>
  </section>
</ng-container>
