<section class="section-half-transparent short-contents">
  <article *ngIf="window['lang']=='en'">
    <h1>Manager Information</h1>
    <li>Email: Martin@we2lab.com</li>
    <li>Address: #417, 21, Baekbeom-ro 31-gil, Mapo-gu, Seoul, Republic of Korea</li>
  </article>
  <article *ngIf="window['lang']=='ko'">
    <h1>고객 센터</h1>
    <li>이메일: Martin@we2lab.com</li>
    <li>주소: 서울특별시 마포구 백범로31길 21 서울창업허브 #417</li>
  </article>
</section>

<!-- <section class="section-description">
  <h1>Detailed Information</h1>
  
  <h2>none.</h2>
</section> -->
