footer {
  margin: 2em auto;
  line-height: 150%;
  color: #ddd;
  box-sizing: border-box;
  font-weight: 300;
}

footer nav {
  margin-bottom: 2em;
}

footer nav li {
  display: inline-block;
  margin-right: 3em;
}

footer p {
  font-size: 0.9em;  
}

footer p+p {
  margin-top: -1em;
}

.footer {
  background: #666;
}
