.flex{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.flex li {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 1.4em;
  font-weight: 500;
  list-style: none;
  flex-basis: 13em;
}


.flex img {
  width: 10em;
  height: 10em;
  margin: 0 2em;
  margin-bottom: 1em;
}

.flex b {
  font-size: 0.8em;
  font-weight: 400;
  color: #ddd;
}
/* 
.circle {
  display: inline-block;
  border-radius: 50%;
  background: rgba(196, 229, 239, 0.3);
  width: 15em;
  height: 15em;
  margin: 0;
  padding: 6em 2em;
  font-size: 1.6em;
  box-sizing: border-box;
  text-align: center;
}

.circle b {
  font-size: 0.7em;
}

.circle:nth-child(2) {
  background: rgba(196, 217, 239, 0.3);
} */
