:host {
  width: 20em;
  height: 2em;
  font-size: 0.8em;
  line-height: 1em;
  margin-top: -3em;
  position: absolute;
  text-align: right;
}

* {
  color: rgba(255, 255, 255, 0.3);
}

*:hover {
  background: #333;
  color: white;
}
