<section id="p1" class="point">
  <img class="bg" src="/assets/img/bike.jpg">
  <article>
    <h1>1. Electrical Bike Sharing System</h1>
    <h2>We planned Bike Sharing System Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos cupiditate architecto vel
      earum sunt consectetur reiciendis eius quasi officiis molestias quis numquam omnis veniam nulla quidem distinctio voluptas,
      tempore ea?</h2>
  </article>
</section>

<section id="p2" class="point">
  <article>
    <h2>We planned Bike Sharing System Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus illo, minus recusandae
      atque maxime saepe quidem facilis perspiciatis consectetur beatae accusamus maiores quae amet cupiditate nisi ut nemo,
      quasi sapiente.¸</h2>
    <h1>2. Bike Sharing System</h1>
  </article>
</section>

<section id="p3" class="point">
  <article>
    <h1>3. Bike Sharing System</h1>
    <h2>We planned Bike Sharing System Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores libero nam repellendus
      quae pariatur incidunt provident inventore? Rem qui unde quia nam, magni aut illo provident, nisi laudantium, numquam
      quaerat!</h2>
  </article>
</section>

<section id="description" class="container inner">
  <article>
    <div class="contents">
      <h1>Share all the assets from We2lab.</h1>
      <h2>Detailed contents here.</h2>
    </div>
    <div>
      <img src="/assets/img/teamwork.svg" alt="share">
      <app-license></app-license>
    </div>
  </article>
</section>
