<section class="point">
  <img class="bg" src="/assets/img/wood.jpg">
  <article>
    <h1>Room Sharing Service <br>with PMS / RMS</h1>
    <h2 lang="en">We2lab is a Korean company which provides a solution for hosts to rent or lease short-term lodging with artificial intelligence.
      PMS and RMS are more useful for host to make a good business. We also provide a service for general hosts who have
      a single room which makes successful business in affordable prices.</h2>
  </article>
  <article>
    <h2 lang="en">We provide user-friendly electrical bike sharing system that frees us from pollution and traffic jam.
      AI technology solves the problems of management and profit which make sustainable sharing system.
      Various data from GPS, Vibration Sensor, Gyroscope is collected and used for a better service.</h2>
    <h1>Electrical Bike Sharing System</h1>
  </article>
  <article>
    <h1>Logistics Sharing Service based on Computer</h1>
    <h2 lang="en">We serve a next-generation B2B2C logistics solution. Collecting and analyzing data using computer vision enables your business to be pliable and high profitable. Online marketplace aggregation is supported, therefore, hosts can scale businesses.
    </h2>
    <!-- <h2 lang="ko">우리는 다음세대의 B2B2C 물류서비스 솔루션을 제공합니다. Computer vison 기반의 데이터 수집과 분석 기술은 보다 유연한 관리와 수익 개선을 가능하게 합니다. 물류 온라인마켓 서비스 연동은 호스트에게
      새로운 비지니스 확장을 지원합니다.</h2> -->

  </article>
</section>

<section id="section-main" class="container inner">
  <article>
    <div class="contents">
      <h1>Share all the assets from We2lab.</h1>
      <h2 routerLink="/contact" class="withLink">Contact Us >></h2>
    </div>
    <div>
      <img src="/assets/img/teamwork.svg" alt="share">
      <app-license></app-license>
    </div>
  </article>
</section>
